<div class="profile">
<%= form_with(model: @profile, url: profile_path, method: :put) do |form| %>
  <div>
    <%= form.label :skill_level %>
    <%= form.select :skill_level,
        options_for_select(Profile.skill_levels.map {|k, v| [k.humanize.capitalize, k]}, @profile.skill_level) %>
  </div>

  <h3>Categories</h3>

  <p>
    <% @categories.each do |category| %>
      <%= form.label category.name %>
      <%= form.check_box "categories[#{category.id}]",
          checked: @profile.categories.include?(category) %>
    <% end %>
  </p>

  <%= form.submit %>
<% end %>
</div>