<h1>Recipes table</h1>

<table class="admin_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cook time</th>
      <th>Servings</th>
      <th>Difficulty</th>
      <th>Calories</th>
      <th>Carbs</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Sugar</th>
      <th>Fiber</th>
      <th>Vegan</th>
      <th>Gluten Free</th>
      <th>Image Url</th>
      <th>Video Url</th>
      <th>Categories</th>
      <th>Edit</th>
      <th>Delete?</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe_path(recipe)%></td>
        <td><%= recipe.cooktime %> min</td>
        <td><%= recipe.servings %></td>
        <td><%= recipe.difficulty %></td>
        <td><%= recipe.calories %></td>
        <td><%= recipe.carbs %>g</td>
        <td><%= recipe.protein %>g</td>
        <td><%= recipe.fat %>g</td>
        <td><%= recipe.sugar%>g</td>
        <td><%= recipe.fiber %>g</td>
        <td><%= recipe.vegan %></td>
        <td><%= recipe.gluten_free %></td>
        <td><%= recipe.image_url %></td>
        <td><%= recipe.video_url %></td>
        <td><%= recipe.categories.pluck(:name).join(", ") %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
