<div class="index_page">
  <h4 class="section-title">FEATURED RECIPE</h4>
  <div class="featuredimage-container">
    <% if @featured_recipe %>
      <div class="bottom-left">
        <%= @featured_recipe.name.titleize %>
      </div>
      <%= link_to @featured_recipe do %>
        <% if @featured_recipe.image.attached? %>
          <%= image_tag @featured_recipe.image.variant(resize_to_limit: [500, 500]), class: "featured_image" %>
        <% end %>
      <% end %>
    <% else %>
      Plese visit the <%=link_to "Profile", edit_profile_path %> page to customize your home view.
    <% end %>
  </div>
  
  <h4 class="section-title">FEATURED CATEGORY</h4>
  <% if @featured_category %>
    <%= render('category', category: @featured_category) %> 
  <% else %>
    <p>
      Plese visit the <%=link_to "Profile", edit_profile_path %> page to customize your home view.
    </p>
  <% end %>

  <hr>

  <% @categories.each do |category| %>
    <%= render 'category', category: category %>
  <% end %>
