<div class="recipe-page">
  <h1><%= @recipe.name %></h1>
  <% if @recipe.ratings.average(:score).nil? %>
    No reviews posted, be the first!
  <% else %>
    <% case @recipe.ratings.average(:score) %>
    <% when  1 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  2 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  3 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  4 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
    <% when  5 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <div class="cookbook">
      <%= react_component 'UserRecipe', props: { inCookbook: @in_cookbook, recipe: @recipe, className: "add-to-cookbook-button" } %>
    </div>
  <% end %>

  <div class="recipe-row">
    <div class="recipe-column">
      <h4><p class="cuisine">
    <%= @recipe.categories.pluck(:name).join(", ") %>
  </p></h4>
      <p class="recipe-difficulty">
        <h4 class="recipe-difficulty">Skill Level: <%= @recipe.difficulty.capitalize %></h4>
      </p>
     
      <div class="nutrition">
        <h4>Nutrition Facts</h4>
         <p class="serving-size">
        Serves <%= @recipe.servings %>
      </p>
        <ul class="nutrition-facts">
          <li class="recipe-calories">Calories <b><%= @recipe.calories %></b></li>
          <li class="recipe-fat">Fat <b><%= @recipe.fat %>g</b></li>
          <li class="recipe-carbs">Carbs <b><%= @recipe.carbs %>g</b></li>
          <li class="recipe-protein">Protein <b><%= @recipe.protein %>g</b></li>
          <li class="recipe-fiber">Fiber <b><%= @recipe.fiber %>g</b></li>
          <li class="recipe-sugar">Sugar <b><%= @recipe.sugar %>g</b></li>
          </div>
        </ul>
        <p class="nutrition-disclaimer">
          Estimated values based on one serving size.
        </p>
      </div>
      <div class="recipe-column">
        <% if @recipe.video.attached? %>
          <%= video_tag url_for(@recipe.video), class: "show_video", controls:'' %>
        <% end %>
      </div>
    </div>
    <h3>Ingredients</h3>
      <%= @recipe.recipe_ingredients%>
    <p>
      <h3>Instructions</h3>
      <%= @recipe.recipe_instructions %>
    </p>
    <% if user_signed_in? %>
      <%= render 'ratings/form', recipe: @recipe, rating: @rating %>
    <% end %>
    <hr>
    <h4>Comments</h4>
    <% if user_signed_in? %>
      <%= render 'comments/form', recipe: @recipe, comment: @comment %>
    <% end %>
    <div class="mt-2 row">
    <% @comments.each do |comment| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= comment.user.username%></h5>
            <% if comment.user.ratings.where(recipe: @recipe).exists? %>
              <h6 class="card-subtitle">
                <% comment.user.ratings.find_by(recipe: @recipe).score.times do %>
                  <span class="fa fa-star checked small"></span>
                <% end %>
                <% (5 - comment.user.ratings.find_by(recipe: @recipe).score).times do %>
                  <span class="fa fa-star small"></span>
                <% end %>
              </h6>
            <% else %>
              <h6 class="card-subtitle">No rating submitted</h6>
            <% end %>
            <p class="card-text"><%= comment.content %></p>
            <% if current_user == comment.user || current_user&.admin?%>
              <%= link_to 'Remove', [@recipe, comment],
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: "card-link float-right"%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
