<div class="recipe-page">
  <h1><%= @recipe.name %></h1>
  <% if @recipe.ratings.average(:score).nil? %>
    No reviews posted, be the first!
  <% else %>
    <% case @recipe.ratings.average(:score) %>
    <% when  1 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  2 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  3 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>
    <% when  4 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star"></span>
    <% when  5 %>
      <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span>
    <% end %>
  <% end %>
  <div class="cookbook">
    <%= react_component 'UserRecipe', props: { inCookbook: @in_cookbook, recipe: @recipe, className: "" } %>
  </div>
  <p class="cuisine">
    <h3><%= @recipe.categories.pluck(:name).join(", ") %></h3>
  </p>
  <div class="recipe-row">
    <div class="recipe-column">
      <p class="recipe-difficulty">
        <b>Skill Level: <%= @recipe.difficulty.capitalize %></b>
      </p>
      <p class="serving-size">
        Serves <%= @recipe.servings %>
      </p>
      <div class="nutrition">
        <h4>Nutrition Facts</h4>
        <ul class="nutrition-facts">
          <li class="recipe-calories">Calories <b><%= @recipe.calories %></b></li>
          <li class="recipe-fat">Fat <b><%= @recipe.fat %>g</b></li>
          <li class="recipe-carbs">Carbs <b><%= @recipe.carbs %>g</b></li>
          <li class="recipe-protein">Protein <b><%= @recipe.protein %>g</b></li>
          <li class="recipe-fiber">Fiber <b><%= @recipe.fiber %>g</b></li>
          <li class="recipe-sugar">Sugar <b><%= @recipe.sugar %>g</b></li>
          </div>
        </ul>
        <p class="nutrition-disclaimer">
          Estimated values based on one serving size.
        </p>
      </div>
      <div class="recipe-column">
        <% if @recipe.video.attached? %>
          <%= video_tag url_for(@recipe.video), class: "show_video", controls:'' %>
        <% end %>
      </div>
    </div>
    <h3>Ingredients</h3>
    <p>
      1 red onion, sliced into rings<br>
      salt, to taste<br>
      1 cup  vinegar<br>
      6 plantains<br>
      5 cups  water<br>
      2 cups  canola oil, divided<br>
      12 slices dominican frying cheese, queso de freir<br>
      1 cup  flour<br>
      18 slices dominican salami, salami frito<br>
      6 tablespoons  butter, sliced<br>
      6 eggs, fried, for serving<br>
      1 avocado, for serving<br>
    </p>
    <p>
      <h3>Instructions</h3>
      <%= @recipe.recipe_details %>
    </p>
    <% if user_signed_in? %>
      <%= render 'ratings/form', recipe: @recipe, rating: @rating %>
    <% end %>
    <hr>
    <h4>Comments</h4>
    <% if user_signed_in? %>
      <%= render 'comments/form', recipe: @recipe, comment: @comment %>
    <% end %>
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-body">
          <%= comment.user.email%>: <%= comment.content %>
          <% if current_user.id == comment.user.id || current_user.admin?%>
            <%= link_to 'Remove Comment', [@recipe, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "float-right" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
