<h1><%= @recipe.name %></h1>
<h3><%= @recipe.ratings.average(:score) %> stars</h3>

<% if user_signed_in? %>
  <%= render 'ratings/form', recipe: @recipe, rating: @rating %>
<% end %>

<%= react_component 'UserRecipe', props: { inCookbook: @in_cookbook, recipe: @recipe, className: "" } %>

<p>
  Recipe Details
  <%= @recipe.recipe_details %>
</p>

<hr>

<h4>Comments</h4>

<% if user_signed_in? %>
  <%= render 'comments/form', recipe: @recipe, comment: @comment %>
<% end %>

<% @comments.each do |comment| %>
  <div class="card">
    <div class="card-body">
      <%= comment.user.email%>: <%= comment.content %>
      <% if current_user.id == comment.user.id || current_user.admin?%>
        <%= link_to 'Remove Comment', [@recipe, comment],
            method: :delete,
            data: { confirm: 'Are you sure?' },
            class: "float-right" %>
      <% end %>
    </div>
  </div>
<% end %>
