<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <%= link_to root_url do %>
    <%= image_tag "Meal-Fly.png", width: 60 %>
  <% end %>
  <%= link_to "<b>Meal</b> Fly".html_safe, root_url, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <% if current_user.admin? %>
          <li class='nav-item'>
            <%= link_to "All Recipes", admin_recipes_url, class: "nav-link #{'active' if current_page?(admin_recipes_url)}"%>
          </li>
          <li class='nav-item'>
            <%= link_to "New Recipe", new_admin_recipe_url, class: "nav-link #{'active' if current_page?(new_admin_recipe_url)}"%>
          </li>
          <li class='nav-item'>
            <%= link_to "All Categories", admin_categories_url, class: "nav-link #{'active' if current_page?(admin_categories_url)}"%>
          </li>
          <li class='nav-item'>
            <%= link_to "New Category", new_admin_category_url, class: "nav-link #{'active' if current_page?(new_admin_category_url)}" %>
          </li>
        <% else %>
          <li class='nav-item'>
            <%= link_to "Cookbook", user_recipes_path, class: "nav-link #{'active' if current_page?(user_recipes_path)}"%>
          </li>
        <% end %>
      </ul>

      <ul class="ml-auto navbar-nav">
        <form class="form-inline my-2 my-lg-0">
          <%= react_component 'Search' %>
        </form>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account", edit_user_registration_url, class: "dropdown-item" %>
            <%= link_to "Profile", edit_profile_url, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign Out", destroy_user_session_url,
                method: :delete,
                class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <%= react_component 'Search' %>
        </form>
        <li class='nav-item'><%= link_to "Sign In", new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %> </li>
        <li class='nav-item'><%= link_to @profile.persisted? ? "Edit Profile" : "Create Profile", edit_profile_url, class: "nav-link #{'active' if current_page?(edit_profile_url)}"%> </li>
      </ul>
    <% end %>
  </div>
</nav>
