<!DOCTYPE html>
<html>
  <head>
    <title>MealFly Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <body>
    <nav>
      <%= link_to "All recipes", "/recipes", {}%> || 
      <%= link_to "New Recipe", "/recipes/new", {}%> || 
      <%= link_to "All categories", "/categories", {}%> || 
      <%= link_to "New Category", "/categories/new", {}%>
    </nav>
    <%= yield %>
  </body>
</html>
